.columns {
  padding: 50px 0px;
  .columns__title {
    text-align: center;
    margin-bottom: 30px;
    @include breakpoint(425px) {
      margin-bottom: 50px;
    }
  }
  .columns__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include breakpoint(768px) {
      column-gap: 20px;
      row-gap: 80px;
    }
    .columns__column {
      flex: 0 1 48%;
      @include breakpoint(768px) {
        flex: 0 1 100%;
      }
      .columns__item {
        display: flex;
        column-gap: 15px;
        @include breakpoint(425px) {
          flex-wrap: wrap;
          justify-content: center;
        }
        .columns__img {
          flex: 0 0 200px;
          @include breakpoint(425px) {
            order: 2;
          }
          img {
            width: 100%;
          }
        }
        .columns__describe {
          @include breakpoint(425px) {
            order: 1;
          }
          .columns__describe-title {
            font-size: 21px;
            color: #445162;
            margin-bottom: 10px;
            @include breakpoint(425px) {
              text-align: center;
            }
          }
          .columns__describe-text {
            @include breakpoint(425px) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
