<section class="columns">
  <div class="container">
    <h3 class="columns__title title">Колонки с flex-контейнерами</h3>
    <div class="columns__row">
      <div class="columns__column">
        <div class="columns__item">
          <div class="columns__img">
            <img src="./../assets/images/4.png" alt="columns img" />
          </div>
          <div class="columns__describe">
            <div class="columns__describe-title">The description for the image</div>
            <div class="columns__describe-text">
              Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
              Sequi itaque, unde perferendis nemo debitis dolor.
            </div>
          </div>
        </div>
      </div>
      <div class="columns__column">
        <div class="columns__item">
          <div class="columns__img">
            <img src="./../assets/images/4.png" alt="columns img" />
          </div>
          <div class="columns__describe">
            <div class="columns__describe-title">The description for the image</div>
            <div class="columns__describe-text">
              Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
              Sequi itaque, unde perferendis nemo debitis dolor.
            </div>
          </div>
        </div>
      </div>
      <div class="columns__column">
        <div class="columns__item">
          <div class="columns__img">
            <img src="./../assets/images/4.png" alt="columns img" />
          </div>
          <div class="columns__describe">
            <div class="columns__describe-title">The description for the image</div>
            <div class="columns__describe-text">
              Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
              Sequi itaque, unde perferendis nemo debitis dolor.
            </div>
          </div>
        </div>
      </div>
      <div class="columns__column">
        <div class="columns__item">
          <div class="columns__img">
            <img src="./../assets/images/4.png" alt="columns img" />
          </div>
          <div class="columns__describe">
            <div class="columns__describe-title">The description for the image</div>
            <div class="columns__describe-text">
              Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
              Sequi itaque, unde perferendis nemo debitis dolor.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
