<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__describe">
        <h3 class="header__title">Привет, друг!</h3>
        <div class="header__text">
          <ul>
            <li>У тебя все получится!</li>
            <li>Никогда не сдавайся!</li>
            <li>Сегодня ты уже знаешь больше чем вчера!</li>
            <li>Спасибо тебе за поддержку!</li>
          </ul>
        </div>
      </div>
      <div class="header__img">
        <img src="../assets/images/1.png" alt="header img" />
      </div>
    </div>
  </div>
</header>
