<section class="vertical">
  <div class="container">
    <h3 class="vertical__title title"></h3>
    <div class="vertical__row">
      <div class="vertical__column">
        <div class="vertical__item">
          <h4 class="vertical__item-title">буду рад</h4>
          <h5 class="vertical__item-subtitle">подписке</h5>
          <div class="vertical__item-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque officia id nisi, dolorum
            inventore optio quibusdam voluptates quas officiis culpa voluptatem porro consequuntur
            cum repellendus nostrum odio necessitatibus. Iusto, quis!
          </div>
          <a href="" class="vertical__item-button">Подписаться</a>
        </div>
      </div>
      <div class="vertical__column">
        <div class="vertical__item">
          <h4 class="vertical__item-title">буду рад</h4>
          <h5 class="vertical__item-subtitle">подписке</h5>
          <div class="vertical__item-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae inventore culpa iste,
            earum omnis ducimus vel aspernatur rerum velit voluptatem dolor voluptate, doloribus
            sunt nulla ipsam maxime optio modi cumque? Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Atque officia id nisi, dolorum inventore optio quibusdam voluptates
            quas officiis culpa voluptatem porro consequuntur cum repellendus nostrum odio
            necessitatibus. Iusto, quis!
          </div>
          <a href="" class="vertical__item-button">Подписаться</a>
        </div>
      </div>
      <div class="vertical__column">
        <div class="vertical__item">
          <h4 class="vertical__item-title">буду рад</h4>
          <h5 class="vertical__item-subtitle">подписке</h5>
          <div class="vertical__item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab corrupti ipsa
            quia, cumque, ea sequi quas tempora repellendus dicta deserunt accusantium consequatur,
            natus adipisci optio dolores? Voluptas, dolorem eveniet! Architecto fuga ipsum maxime,
            accusamus cupiditate nam optio placeat voluptates esse quidem quibusdam sequi tempore
            fugiat magnam, inventore ratione nesciunt cum molestias ex aut non incidunt minima hic.
            Neque, explicabo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
            officia id nisi, dolorum inventore optio quibusdam voluptates quas officiis culpa
            voluptatem porro consequuntur cum repellendus nostrum odio necessitatibus. Iusto, quis!
          </div>
          <a href="" class="vertical__item-button">Подписаться</a>
        </div>
      </div>
    </div>
  </div>
</section>
