<section class="what">
  <div class="container">
    <div class="what__row">
      <div class="what__img">
        <img src="../assets/images/3.png" alt="what img" />
      </div>
      <div class="what__describe">
        <h3 class="what__title title">Что такое FlexBox?</h3>
        <div class="what__text">
          <p>
            Flexbox - это целый модуль, содержащий в себе набор свойств и их значений как для
            родителя flex-контейнера так и для его дочерних элементов flex-элементов.
          </p>
          <p>
            Основным преимуществом гибкой FLEX разметки является возможность изменять ширину/высоту
            пространство вокруг и порядок flex-элементов, для того чтобы наилучшим образом заполнить
            доступное пространство flex-контейнера
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
